---
import Layout from "../layouts/Layout.astro";
import projects from "../data/projects.json";
import Card from "../components/Card.astro";
---

<Layout
  title="Projects by Trust Jamin"
  description="Explore project and community initiatives handled  by Trust Jamin"
  keywords="talks by Trust Jamin, Jamin's speaking opportunitie, Events featuring Trust Jamin,web development, serverless technologies, Gatsby, DevOps,developer perspectives,TypeScript and Nodejs, software engineering insights."
  image="/projects.png"
>
  <section>
    <div class="container">
      <div class="content">
        <h1>Some selected projects I've worked on previously</h1>
        {
          projects.map((project) => (
            <section id={project.section}>
              <h2>{project.section} </h2>
              {project.projects.map((project) => (
                <Card
                  href={project.link}
                  title={project.name}
                  description={project.description}
                  tags={project.technologies}
                />
              ))}
            </section>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
